


.cta-section {
  background: linear-gradient(to right, #814516, #fdcf31);
  height: 300px;
}

.btn-profile:hover{
 background: #fff;
   box-shadow: 0 0 8px 2px rgba(255, 255, 255, 1);
  transition: box-shadow 0.3s ease-in-out;
}
.vision-card {
  transform: scale(0.95);
  transition: transform 0.3s ease;
}
.vision-card:hover {
  transform: scale(1);
}


