.social-icon {
    width: 40px;
    height: 40px;
    background-color: #0d6efd;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }
  
  .social-icon:hover {
    transform: scale(1.1);
    color: white;
  }
  .social-icon1:hover {
    transform: scale(1.1);
    color: red;
  }
  